<form class="form-horizontal">
    <input type="hidden" name="csrfmiddlewaretoken" ng-value="csrftoken">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Редактирование профиля</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-3 bold" for="login-0">Логин</label>
                <div class="col-sm-9">
                    <p class="form-control-static">[[user.username]]</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 bold" for="email">E-mail</label>
            <div class="col-sm-9">
                <p class="form-control-static" style="padding-top: 2px">
                    <input ng-model="profile.email" type="text" class="form-control" name="email"/>
                </p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group">
                    <label class="control-label col-sm-3 bold" for="first_name">Имя</label>
                    <div class="col-sm-9">
                        <input ng-model="profile.first_name" type="text" class="form-control" name="first_name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 bold" for="last_name">Фамилия</label>
                    <div class="col-sm-9">
                        <input ng-model="profile.last_name" type="text" class="form-control" name="last_name"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="birth_date-0">Дата рождения</label>
                    <div class="col-sm-9">
                        <input ng-model="profile.birthday" type="text" class="form-control" name="birth_date" placeholder="30.12.2016"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3">О себе</label>
                    <div class="col-sm-9">
                        <textarea ng-model="profile.description" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </li>
            <li class="list-group-item">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="education">Образование</label>
                    <div class="col-sm-9">
                        <input ng-model="profile.education" type="text" class="form-control" name="education"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="website">Веб-сайт</label>
                    <div class="col-sm-9">
                        <input ng-model="profile.website" type="text" class="form-control" name="website"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="tech_stack">Стек технологий </label>
                    <style>
                        div.input-group-option:last-child span.input-group-addon-remove {
                            display: none;
                        }

                        div.input-group-option:last-child input.form-control {
                            border-bottom-right-radius: 3px;
                            border-top-right-radius: 3px;
                        }

                        div.input-group-option span.input-group-addon-remove {
                            cursor: pointer;
                        }

                        div.input-group-option {
                            margin-bottom: 3px;
                        }
                    </style>
                    <div class="form-group-options col-xs-11 col-sm-8 col-md-4">
                        <div class="input-group input-group-option col-xs-12">
                            <input name="option[]" class="form-control" placeholder="Focus me" type="text"
                                   value="C++">
                            <span href="#" class="input-group-addon input-group-addon-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </div>
                        <div class="input-group input-group-option col-xs-12">
                            <input name="option[]" class="form-control" placeholder="Focus me" type="text">
                            <span href="#" class="input-group-addon input-group-addon-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="form-group">
                    <label class="control-label col-sm-3 bold" for="vk_link">VK ID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="vk_link"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 bold" for="github_link">GitHub Login</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="github_link" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 bold" for="bitbucket_link">Bitbucket Login</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="bitbucket_link" />
                    </div>
                </div>
            </li>
        </ul>
        <div class="panel-footer">
            <a ng-click="saveProfile(profile)" class="btn btn-success btn-block">Сохранить</a>
        </div>
    </div>
</form>
